body {
  background-color: #285726;
  font-size: 12px;
  height: 100vh;
  display: flex;
  justify-self: center;
  align-items: center;
}

.form {
  background-color: white;
  border-radius: 7px;
  width: 300px;
  height: 600px;
  overflow: hidden;
  padding-left: 10px;
}


h1 {
  text-align: center;
  margin-top: 10px;
}

input {
  margin-top: 6px;
  margin-bottom: 6px;
}

#fname,
#Age,
#fvsport1,
#fvsport,
#spoty_person,
#spoty_person {
  width: 90%;
}

#thought {
  width: 90%;
}

#button {
  font-size: 12px;
  color: beige;
  background: #087004;
  width: 90%;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
}
