* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_thired {
    width: 550px;
    display: flex;
    background: #1b1938;
    border-radius: 10px;
    padding-right: 0;

}

.left_thired {
    width: 57%;
}

.left_thired {
    padding: 35px;
}

.left_thired h1 {
    color: white;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.left_thired h1 span {
    color: #aa5cdb;
}

.left_thired p {
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.nums {
    display: flex;
    gap: 20px;
}

.nums h2 {
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}

.nums span {
    color: #9996b2;
    font-size: 10px;
    letter-spacing: 1px;
}

.right_thired img{
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    body {
        padding: 0 40px;
        align-items: center;
    }

    .box_thired {
        flex-direction: column-reverse;
    }

    .left_thired,
    .right_thired {
        width: 100%;
    }

    .left_thired {
        text-align: center;
    }

    .left_thired h1 {
        font-size: 22px;
    }

    .nums {
        flex-direction: column;
        justify-content: space-evenly;
    }
}