

* {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* First table */

thead {
    height: 60px;
    width: 100%;
    background-color: blueviolet;
    color: white;
}

tbody tr {
    color: rgb(0, 0, 0);
    height: 50px;
    text-align: center;
}

tbody td {
    width: 17%;
    border-top: 1px solid rgb(191, 186, 186);
    border-bottom: 1px solid rgb(191, 186, 186);
}

.light1 {
    background-color: #d7dff4;
}

button {
    background-color: #6730b8;
    color: white;
    height: 25px;
    width: 60px;
    border: none;
}

button:hover {
    background-color: #801ba5;
}


/* Secound table */

#secound {
    background-color: #2cb99d;
    height: 50px;
    width: 100%;
}

.light tr:nth-child(even){
    color: #09c68a;
    background-color: rgb(236, 234, 234);
    font-size: 17px;
    font-weight: 800;
}

.last td {
    border-bottom:3px solid #2cb99d;
}

