 /* 2) კომენტარის სახით ჩამოწერეთ რამდენი გასტილვის ტექნიკა აქვს CSS-ს და ახსენით თითოეული მათგანი დეტალურად. */
 /* inline - HTML-ის  ფაილში  გამხსნელ თეგში style ატრიბუტის გამყენებით იწერება*/
 /* internal - HTML-ის ფაილში head -ში იწერება style თეგში */
 /* exsternal - იწერება ცალკე  css-ის ფაილში */


 /* 3) საიტზე დაამატეთ div, რომელსაც id ექნება container1. მასში ჩააშენეთ 3 ცალი h1. გასტილეთ container1 
 და დააკვირდით რა მოუვა მის შვილ ელემენტებს. */
#container1 {
    color: brown;
    font-size: 22px;
    box-shadow: 2px 2px 2px yellow ;
    text-align: center;
 }


 /* 4) შექმენით h1 სათაური და p პარაგრაფი.
სათაურს შეუცვალეთ ფერი და განათავსეთ ცენტრში (text-align: center).
პარაგრაფს დაუყენეთ თქვენთვის სასურველი ფონტი, შეცვალეთ მისი ზომა (font-size) */

#container2 h1 {
    text-align: center;
}

#container2 p {
    font-size: 40px;
}