* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #666060;
    justify-items: center;
}
/*--------lists------ */

.main_fillms {
    display: flex;
    column-gap: 10px
}
.films, .countries, .weekdays, .Product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}


.main_food {
    display: flex;
    column-gap: 20px;
    margin-bottom: 10px;
}

.Product li {
    list-style-type: none;
}

.weekdays li, .Product li, .films li, .countries li{
    list-style-type: lower-alpha; 
    width: 200px;
    background-color: #a98e8e;
    border: 1px solid rgb(179, 122, 122);  
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
}

.Product li {
    list-style-type: none;
}

.films li {
    list-style-type: upper-roman;
    /* list-style-position: outside; */
}

.countries li {
    list-style-position: inside;
}

.countries .li1 {
    list-style-image: url(./usa-svgrepo-com.svg);
}

.countries .li2 {
    list-style-image: url(./italy-svgrepo-com.svg);
}

.countries .li3 {
    list-style-image: url(./united-kingdom-svgrepo-com.svg);
}

.countries .li4 {
    list-style-image: url(./turkey-svgrepo-com.svg);
}



/* ------forms------- */

/* border-radius  გამოიყენება ელემენტის კუთხეების მოსამრგვალებლად.
მას შეგვიძლია გადავცეთ 1(ყველა კუთხე ერთნაირად დამრგვალდება), 
2(პირველი მნიშვნელობა ზედა-მარცხენა და ქვედა-მარჯვენა ხოლო მეორე მნიშვნელობა ზედა-მარჯვენა და ქვედა-მარცხენა კუთხეებისთვის) , 
3(პირველი მნიშვნელობა ზედა-მარცხენა  მეორე მნიშვნელობა ზედა-მარჯვენა და ქვედა-მარცხენა და მესამე მნიშვნელობა ქვედა-მარჯვენა კუთხისთვის),
4(თითოეული კუთხე ცალცალკე მრგვალდება)
*/

#border_radius{
    display: flex;
    justify-self: center;
    align-items:center;
    justify-content: center;
}

#border_radius {
    height: 200px;
    width: 200px;
    /*          top-left top-right     bottom-right   bottom-left   */
    border-radius: 0px     5px        9px             3px;
    background-color: #634545;
    border: none;
}


.aut {
    display: flex;
    justify-self: center;
    background-color: #08c1de;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
}

.aut label {
    color: red;
    font-size: 18px;    
    text-align: left;
    display: block;
}

.aut input {
    background-color: #191535;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

label:active {
    text-shadow: 0 0 10 rgb(12, 33, 82) ;
}

/* cards event and sign in */
.main {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 700px;
    column-gap: 10px;
    margin-top: 20px;
}

.main_left {
    width: 100%;
    height:700px;
    padding: 20px;
    background-image: url(https://imgs.search.brave.com/dZjdg5A0dyxTYnS8s93nAnu5Lnnw_zDF9lt47V_Ynus/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTQ3/MTQ2NTA5OC92ZWN0/b3IvYWJzdHJhY3Qt/dmVjdG9yLWdyYWRp/ZW50LWJsZW5kLWJh/Y2tncm91bmQtd2l0/aC1yZWRuLWFuZC1i/bHVlLWNvbG9ycy5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/emNDWlVsRkVPLTl0/eUpMT2xTYTRMZS0w/RGlQT052TVl2YVN3/RkRyNHRzWT0);
}

.Sign_in  {
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 360px;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.form_name {
    color: #000000;
    text-align: center;
}

form {
    width: 100%;
}

.Sign_in input {
    display: block;
    width: 100%;
    height: 30px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 30px;
    padding-left: 10px;
}

.Sign_in label {
    padding: 5px;
}

.Sign_in button {
  /* font-size: 10px; */
  color: rgb(255, 255, 255);
  background: #9425da;
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
}

button:hover {
    background-color: #9958cb;
}

/* event sign in */

.main_event {
    background-image: url(https://imgs.search.brave.com/8WEtn1SU8Gcq9RlWgHMKaPYIdJCQJLYugOTgOPqu7uo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAxLzY2LzQ3Lzgz/LzM2MF9GXzE2NjQ3/ODMxMV95Z0VZekx3/a1ZtRzhFbEk1eXdt/M2ZMT1NLUGJwdXZ3/ai5qcGc);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.event {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 0 20px;
    opacity: 0.7;
    background-color: #7667a9;
    color: white;
    border:2px solid #3e3737;
    border-radius: 20px;
    width: 90%;
}

.event h1 {
    text-align: center;
    margin: 30px 0 10px 0;
}

.event p {
    text-align: center;
}

.event label {
    display: block;
    margin-top: 30px;
}
.event input, select{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-bottom-color: #8d8790;
}

.fl {
    display: flex;
    gap: 20px;
}


.f_n , .l_n {
    width: 90%;
}

.l_n {
    margin-top: 20px;
}

.f_n  label, .l_n label {
    margin-top: 0;
}

.event select {
    width: 100%;
}

#butt {
    height: 40px;
    width: 150px;
    border-radius: 30px;
    background-color: rgb(184, 0, 95);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: 30px 0 40px 0;
}

img {
    width: 20px;
    margin: 10px 0;
}

.img-input{
    display: flex;
}

/* tables */

.tables {
    display: flex;
    justify-content: center;
    background-color: #95add1;
    margin: 20px 0;
    padding-bottom: 20px;
    width: 50%;
}

table {
    margin-top: 20px;
    width: 90%;
    border-collapse: collapse;
    background-color: #fff;
}

thead  tr{
    height: 60px;
    width: 100%;
    background-color: rgb(117, 185, 230);
    color: white;
}

tbody tr {
    color: rgb(0, 0, 0);
    height: 50px;
    text-align: center;
    width: 100%;
}

tbody td {
    border-bottom: 1px solid rgb(191, 186, 186);
}

.light {
    background-color: #cacdd4;
}

.light:hover {
    background-color:  #cacdd4;
}

/*border-collapse აერთიანებს უჯრებს მას ხშირად ვიყენებთ ცხრილებში */

/* nth-child Pseudo-Selector- გასტილავს იმ teiblis შემადენელ ელემენტებს რომლებსაც ჩვენ მივუთითებთ შეგვიძლია მივუთთოთ ნუმერაციით მერამდენე ელემენტს ვსტილავთ ან სიტყვით მაგ. even /odd  */